<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="../static/CSS/tradie_profile.css">
<div class="mainbody container-fluid">
    <div class="row">
        <div class="navbar-wrapper">
            <div class="container-fluid">
            
            </div>
        </div>
        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="panel-title pull-left" style="font-size:30px;"><i class="fa fa-cogs" aria-hidden="true"></i> Menu</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1 class="panel-title pull-left" style="font-size:30px;">Welcome page&nbsp;</h1>
                </div>
            </div>
            
            
          <div class="panel panel-default">
                <div class="panel-body">
                    <br><br>
					    <form class="form-horizontal">
                        <label>Introduction </label>
                        <textarea class="form-control" rows="3" placeholder="Fill me out">
						</textarea>
                    </form>
                    <div align="center">
                        
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
					<h3 class="panel-title pull-left">Licenses &amp; Qualifications&nbsp;</h3>

                    <br><br>
					
					<div class="col-lg-12 col-md-12">
                            <img class="img-thumbnail img-responsive" src="https://images.app.goo.gl/BVfmCeqEqwLBUowh7" width="150px" height="150px">
                        </div>
					<br><br>
					<div class="col-lg-12 col-md-12">
                            <button class="btn btn-success"><i class="fa fa-upload" aria-hidden="true"></i> Upload your licenses here </button>
                        </div>
					
					<br><br>
					<h3 class="panel-title pull-left"><strong>Personal detail</strong></h3>
					<br><br>                  
                    <form class="form-horizontal">
                        <label for="Your_location">Full Name&nbsp;</label>
                        <input type="text" class="form-control" id="Your_location" placeholder="Fill me out">
                        <br>
                        <label for="Your_gender">Address&nbsp;</label>
                        <input type="text" class="form-control" id="Your_gender" placeholder="Fill me out">
						<br>
						<label for="Your_gender">Contact Number&nbsp;</label>
                      <input type="text" class="form-control" id="Your_gender" placeholder="Fill me out">
						<br>
						<label for="Your_gender">Company Name&nbsp;</label>
                        <input type="text" class="form-control" id="Your_gender" placeholder="Fill me out">
      					<br>
						<label for="Your_gender">Company ABN&nbsp;</label>
                        <input type="text" class="form-control" id="Your_gender" placeholder="Fill me out">
      					<br>
						<label for="Your_gender">Bank BSB&nbsp;</label>
                        <input type="text" class="form-control" id="Your_gender" placeholder="Fill me out">
                        <br>
						<label for="Your_gender">Bank Account Number&nbsp;</label>
                        <input type="text" class="form-control" id="Your_gender" placeholder="Fill me out">
						<br>
						<label for="Your_gender">Bank Branch Name&nbsp;</label>
                        <input type="text" class="form-control" id="Your_gender" placeholder="Fill me out">
						<br>
						<button class="btn btn-default"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Cancel</button>
                    <button class="btn btn-primary"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Update Profile</button>
                        
                    </form>
                </div>
			</div>
        </div>
    </div>
</div>
