<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../../static/CSS/style.css">

</head>
<body>
<div id="profile_photo" class="container align-items-center justify-content-center">
    <div class="row">
        <div class="col-xs-2 col-md-2 text-left ">
            <div style="height: 100%; width: 100%">
                <img class="img-rounded rounded-circle mh-100" src="{{ user.user_hp.url }}">
            </div>
        </div>
        <div class="col-xs-7 col-md-7 text-left ">
            <div class="media h-100">
                <div class="align-self-center text-left">
                    <h3 class="text-left align-middle" align="left"> Welcome, {{ tradie.name }}</h3>
                    <h5 class="text-left align-middle" align="left">{{ company.name }}</h5>
                </div>

            </div>
        </div>
        <div class="col-xs-2 col-md-2 text-center">
            <div></div>
        </div>
    </div>

</div>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>