<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>
    <link rel="icon" href="../../../../favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <style type="text/css">
        .nav-pills .nav-link.active {
            background-color: #c8f693 !important;
        }

    .nav-pills .nav-link {
        text-align: center;
        color: #222222;
    }
</style>
</head>

<body>
<nav class="d-flex flex-column flex-md-row align-items-center p-0 px-md-4 mb-3 bg-white">
    <!--Side bar -->
    <nav class="d-none d-md-block sidebar nav nav-pills" style="width: 100%">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link p-2" href="tradie_profile">
                        <i class="fa fa-home"></i>
                        <strong>Profile</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tradie_current_job">
                        <i class="fa fa-list"></i>
                        <strong>Current Job</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tradie_history">
                        <i class="fa fa-folder"></i>
                        <strong>Job History</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-calculator"></i>
                        <strong>Statistics</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tradie_calendar">
                        <i class="fa fa-calendar"></i>
                        <strong>Calender</strong>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</nav>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

</body>
</html>
