<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>About us</title>

    <link rel="stylesheet" type="text/css" href="../../static/CSS/home.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.16/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.16/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.16/dist/js/i18n/defaults-*.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#top_menu").load("top_menu_without_sign_in");
            $("#footer").load("footer");
        });
    </script>
</head>

<body class="d-flex flex-column min-vh-100">

<div id="top_menu"></div>

<div class="container flex-grow-1 text-left row-fluid">

    <div class="mt-5 md-5 text-center">
        <h2>About us</h2>
    </div>

    <div class="mt-5 md-5">
        <h3>What we are doing</h3>
        <br>
        <p>Our purpose is ...</p>
    </div>

    <div class="mt-5 md-5">
        <h3>Why choose us</h3>
        <br>
        <p>Our system will help both customer and tradies ...</p>
    </div>

    <div class="mt-5 md-5">
        <h3>Our story</h3>
        <br>
        <p>Jemma was founded on ...</p>
    </div>


</div>

<div id="footer"></div>

</body>
</html>