<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="../../static/CSS/home.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.16/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.16/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.16/dist/js/i18n/defaults-*.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            if ({{ login_status|safe }}) {
                $("#menu").load("top_menu_sign_in");
            } else {
                $("#menu").load("top_menu_without_sign_in");
            }
            $("#footer").load("footer");
        });
    </script>
    <style>
        .nav-pills .nav-link:not(.active) {
            background-color: rgba(193, 243, 143, 0.5);
            color: grey !important;
            font-weight: bold;
            width: 150px;
            text-align: center;
        }

        .nav-pills .nav-link:hover {
            background-color: rgba(193, 243, 143, 0.8);
            color: dimgrey !important;
            font-weight: bold;
            width: 150px;
            text-align: center;
        }

        .nav-pills .nav-link.active {
            background-color: rgb(193, 243, 143) !important;
            color: rgba(000, 0, 0, 0.9) !important;
            font-weight: bold;
            width: 150px;
            text-align: center;
        }

        .carousel {
            margin: 1.5rem;
        }

        .carousel-inner {
            height: auto;
        }

        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
            margin-left: -5px;
        }

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
            margin-right: -5px;
        }
    </style>
</head>

<body>

<div id='menu'></div>

<div class=" text-center justify-content-center h-100">

    <div class="row text-center justify-content-center">
        <div class="col-md-7">
            <br><br><br><br><br><br><br>
            <h2 style="font-family: 'Bangla MN';">Jemma makes everyone’s life <br><br> just that bit easier.</h2>
        </div>
        <div class="col-md-5">
            <img class="scaled-img" src="../../static/IMAGES/unsplash.jpg" alt="unsplash image">
        </div>
    </div>

    <div class="row mt-3 text-center mb-5 justify-content-center align-items-center" style="height: 50px;">
        <div class="col-md-1"></div>
        <a><i class="fa fa-search p-1"></i></a>
        <div class="col-md-3">
            <select id="tradie-selection" class="selectpicker" data-live-search="true" data-width="100%">
                <option value="" disabled selected>Job keywords</option>
                <optgroup label="A">
                    <option value="1">Aircon Mechanic</option>
                </optgroup>
                <optgroup label="B">
                    <option value="2">Brick Layer</option>
                </optgroup>
                <optgroup label="C">
                    <option value="3">Carpenter</option>
                    <option value="4">Carpet Layer</option>
                </optgroup>
                <optgroup label="D">
                    <option>Decking</option>
                </optgroup>
                <optgroup label="E">
                    <option>Electrician</option>
                </optgroup>
                <optgroup label="F">
                    <option>Fencing</option>
                </optgroup>
                <optgroup label="G">
                    <option>Gas Plumber</option>
                    <option>Glazier</option>
                </optgroup>
                <optgroup label="H">
                    <option>Hair and Makeup</option>
                    <option>Home Renovation</option>
                </optgroup>
                <optgroup label="I">
                    <option>Insulation</option>
                </optgroup>
            </select>
        </div>

        <a><i class="fa fa-location-arrow p-1" aria-hidden="true"></i></a>
        <div class="col-md-3">
            <select id="tradie-selection" class="selectpicker" data-live-search="true" data-width="100%">
                <option value="" disabled selected>Locations</option>
                <optgroup label="A">
                    <option>Acton</option>
                    <option>Aranda</option>
                </optgroup>
                <optgroup label="B">
                    <option>Belconnen</option>
                    <option>Bonner</option>
                    <option>Braddon</option>
                </optgroup>
                <optgroup label="C">
                    <option value="3">Calwell</option>
                    <option value="3">Canberra</option>
                    <option value="4">Charnwood</option>
                    <option value="4">Crace</option>
                </optgroup>
                <optgroup label="D">
                    <option>Dickson</option>
                    <option>Deakin</option>
                    <option>Downer</option>
                </optgroup>
                <optgroup label="E">
                    <option>Evatt</option>
                </optgroup>
                <optgroup label="F">
                    <option>Florey</option>
                    <option>Forde</option>
                    <option>Forrest</option>
                    <option>Franklin</option>
                    <option>Fyshwick</option>
                </optgroup>
                <optgroup label="G">
                    <option>Garran</option>
                    <option>Greenway</option>
                    <option>Griffith</option>
                    <option>Gungahlin</option>
                </optgroup>
                <optgroup label="H">
                    <option>Harrison</option>
                    <option>Hawker</option>
                    <option>Holt</option>
                </optgroup>
                <optgroup label="I">
                    <option>Isabella Plains</option>
                </optgroup>
                <optgroup label="J">
                    <option>Jacka</option>
                </optgroup>
                <optgroup label="K">
                    <option>Kaleen</option>
                    <option>Kambah</option>
                    <option>Kingsrib</option>
                </optgroup>
                <optgroup label="L">
                    <option>Latham</option>
                    <option>Lyneham</option>
                </optgroup>
            </select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-dark btn-round" onclick="window.location ='customer_search_result'">
                Search
            </button>
        </div>
    </div>

    <div id="whyJemma" name="whyJemma" class="mt-3 mb-5">
        <br><br>
        <div class="mb-3 text-center">
            <h1 class="display-4">Why Jemma</h1>
        </div>
        <br><br>
        <div>
            <p>Jemma Australia is the first online service that connects customers and tradies while also offering
                financial protection, better work/life balance, automated scheduling and much more.
                <br><br><br>
                We’ve heard the problems from both sides and it’s about time someone fixed them. We’re here to help make
                everyone’s lives easier.
            </p>
        </div>
        <br><br>
    </div>

    <div id="howItWorks" name="howItWorks" class="mt-5 mb-5 text-left" style="height: 1500px;">
        <div class="text-center mb-5">
            <h1 class="display-4">How it works?</h1>
        </div>

        <div class="nav nav-pills justify-content-center" role="tablist">
            <a class="nav-link active" id="Tradie-tab" data-toggle="tab" href="#tradie-hiw" role="tab"
               aria-controls="Tradie"
               aria-selected="true">
                Tradie
            </a>
            <a class="nav-link" id="Customer-tab" data-toggle="tab" href="#customer-hiw" role="tab"
               aria-controls="Customer"
               aria-selected="false">
                Customer
            </a>
        </div>

        <div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade single-member active show"
                     id="tradie-hiw"
                     role="tabpanel"
                     aria-labelledby="Tradie-tab">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <!-- The slide show -->
                        <div class="carousel-inner container">

                            <div class="carousel-item active">
                                <div class="row mt-5 text-center">
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-list.png"
                                             alt="checklist" style="height: 200px;">
                                        <p><strong>Publicly listed profile to showcase your qualifications and
                                            experience.</strong></p>
                                        <p class="text-left"> You're great on the tools, we know that. Let us help you
                                            with the online
                                            stuff,
                                            which is what we're
                                            great at.
                                            <br><br>
                                            More people every day want to easily find and order services online. With
                                            your
                                            brand
                                            and
                                            experience freely available to the public we'll give you more exposure for
                                            your
                                            business through a
                                            professionally designed, easy to read profile, ensuring customers know how
                                            great
                                            you
                                            are,
                                            without having to contact you and interrupt the job you're on.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-rating.png"
                                             alt="rating" style="height: 200px;">
                                        <p><strong>Ratings and reviews</strong></p>
                                        <p class="text-left"> Customers are relying on ratings and reviews increasingly
                                            every day. Whether
                                            it
                                            be
                                            for
                                            food,
                                            entertainment, electronics, mostly everything. They are quickly becoming a
                                            deciding
                                            factor on
                                            who and what people choose to use and purchase.
                                            <br><br>
                                            This is your opportunity to let people know how good you are and we want to
                                            give
                                            you
                                            that
                                            opportunity by letting the customers tell everyone else why they should hire
                                            you.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-calendar.png"
                                             alt="calendar" style="height: 200px;">
                                        <p><strong>Public calendar to enable customers to see when you're
                                            available.</strong>
                                        </p>
                                        <p class="text-left"> How many phone calls do you take each day asking you when
                                            you're available?
                                            How many times do you answer the same questions each day and have to check
                                            your
                                            calendar?
                                            <br><br>
                                            Your profile will feature your calendar which will show customers when
                                            you're
                                            available.
                                            To ensure confidentiality only the times and dates will be visible to the
                                            public,
                                            however as a
                                            member of Jemma this is your tool to see the details of upcoming and
                                            previous
                                            work.
                                            Only you can see those details in case you need to check what you're doing
                                            later.
                                            You can also block out dates and times for those times when you need a
                                            holiday,
                                            or
                                            something.
                                            <br><br>
                                            Just let us know when you're available and we'll do the rest.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row mt-5 text-center">
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-picture.png"
                                             alt="calendar" style="height: 200px;">
                                        <p><strong>Pictures of your work for you to showcase your skills.</strong></p>
                                        <p class="text-left"> If your trade involves custom designs and fabrication then
                                            you'll have the
                                            opportunity
                                            to upload pictures of your previous completions. Whether it be a fence,
                                            landscaping
                                            or
                                            any job
                                            you'd like to showcase, Jemma will give you the freedom to not only show off
                                            your
                                            work
                                            but also give
                                            the customer some ideas as to what they want you to do for them.
                                            <br><br>
                                            A customer needs a fence but doesn't know what they want? Just wait until
                                            they
                                            see
                                            your
                                            portfolio! </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-payment.png"
                                             alt="calendar" style="height: 200px;">
                                        <p><strong>Financial security through escrow payments.</strong></p>
                                        <p class="text-left">
                                            Most people pay what they owe however we're also aware that some don't.
                                            <br><br>
                                            Even though this is only a small percentage of commissioned work, it's still
                                            a
                                            lot
                                            of
                                            time and money spent chasing up invoices. You don't need that hassle so
                                            Jemma
                                            provides
                                            an escrow
                                            service where the agreed upon amount for commissioned work is held upfront
                                            in a
                                            trust
                                            account until the works are completed.
                                            <br><br>
                                            Put simply, the customer books you in, you both agree on a set amount and
                                            estimated
                                            timeframe
                                            for the job and the customer deposits that amount in the trust account. This
                                            money
                                            is
                                            held while you complete the job, giving you the confidence that as long as
                                            the
                                            job
                                            is
                                            completed
                                            satisfactorily, you'll get paid.
                                            <br><br>
                                            Once both parties are happy then the customer signs off through the
                                            website/app
                                            and
                                            the
                                            amount owed is released to you and an invoice is issued to both parties.
                                            <br><br>
                                            No more chasing up invoices, you've got more important things to do.</p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-instant-pay.png"
                                             alt="calendar" style="height: 200px;">
                                        <p><strong>Instant payments upon completion.</strong></p>
                                        <p class="text-left"> Payment cycles are a pain, we get it. You did the job so
                                            why should you have
                                            to
                                            wait
                                            a
                                            few weeks to be paid for it? It's a hassle to keep track of and it makes
                                            your
                                            bookkeeping
                                            more stressful than it should be.
                                            <br><br>
                                            With Jemma's escrow and instant sign-off features you'll get paid now
                                            because
                                            that's
                                            when you deserve to get paid.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row mt-5 text-center">
                                    <div class="col-md-4">
                                        <img class="mb-5"
                                             src="../../static/IMAGES/hiw-off-phone.png"
                                             alt="calendar"
                                             style="height: 200px;">
                                        <p><strong>No more interruptions.</strong></p>
                                        <p class="text-left"> Say goodbye to those random phone calls every day while
                                            trying to finish
                                            work
                                            for
                                            someone else. When the public has access to your profile, qualifications and
                                            skillset,
                                            you won't need
                                            to answer those questions.
                                            <br><br>
                                            With access to your calendar customers can see when you're available and
                                            book
                                            you
                                            within
                                            minutes. No more phone calls interrupting you while you work, meaning jobs
                                            are
                                            completed
                                            earlier and you're not answering the same questions over and over and over
                                            and...
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5"
                                             src="../../static/IMAGES/hiw-balance.png"
                                             alt="calendar"
                                             style="height: 200px;">
                                        <p><strong>Work/life balance.</strong></p>
                                        <p class="text-left">
                                            Our research indicates that tradies spend too much time filling out
                                            paperwork,
                                            invoicing
                                            and other admin related duties.
                                            <br><br>
                                            If you're wondering "why has this not been automated yet?", it has. You're
                                            looking
                                            at
                                            it.
                                            <br><br>
                                            Jemma was specifically designed to take the burden from you. Admin, taxes
                                            and
                                            other
                                            paperwork
                                            are a hassle that you don't need, but they're necessary for your business to
                                            survive. So
                                            let us do
                                            the hard work for you because that's what we do.
                                            <br><br>
                                            You're great with the tools and we're great with the computery stuff.
                                            <br><br>
                                            Meanwhile, take that extra time you'll have to spend time with your family,
                                            or
                                            playing
                                            sport, or taking on extra work, either way it's more time for you.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5"
                                             src="../../static/IMAGES/hiw-question.png"
                                             alt="calendar"
                                             style="height: 200px;">
                                        <p><strong>What's in it for Jemma though?</strong></p>
                                        <p class="text-left"> What we offer is a system that will alleviate a lot of
                                            issues that the
                                            current
                                            business
                                            model suffers from. Our research indicates that everyone from both sides has
                                            some
                                            complaints about the
                                            current relationship between customers and tradies, and I'm sure you have a
                                            few
                                            tales to
                                            tell too.
                                            <br><br>
                                            However to put it bluntly, you're not a charity and neither are we. To
                                            continue
                                            to
                                            provide a service that we feel benefits everyone we still need to make a
                                            profit.
                                            <br><br>
                                            With that being said we aren't in this business to take advantage of anyone,
                                            our
                                            business model is specifically designed to make life easier and fairer for
                                            everyone
                                            involved and we feel
                                            that our pricing model reflects value and compromise on all sides.
                                            <br><br>
                                            We don't charge monthly or annual fees, meaning that you only pay for what
                                            you
                                            use.
                                            That's right,
                                            you don't pay unless you get booked for a job which means that your profile,
                                            with
                                            qualifications,
                                            portfolio, ratings & reviews are still there for the world to see, without
                                            paying
                                            anything.
                                            <br><br>
                                            To start with, the base level package offers:
                                            - Automated scheduling
                                            - Online profile
                                            - Ratings & reviews
                                            - Escrow & instant payment service
                                            - Portfolio pictures on your profile
                                            Cost - 5% of each job booked through Jemma
                                            <br><br>
                                            If you choose the Admin package you get all the features above plus:
                                            - License renewal reminders
                                            - Uploading of materials receipts for easier cost analysis
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true">
                            </span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                </div>

                <div class="tab-pane fade single-member" id="customer-hiw" role="tabpanel"
                     aria-labelledby="Customer-tab">

                    <div id="myCarousel2" class="carousel slide" data-ride="carousel">

                        <!-- The slide show -->
                        <div class="carousel-inner container">

                            <div class="carousel-item active">
                                <div class="row mt-5 text-center">
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-profile.png"
                                             alt="profile" style="height: 200px;">
                                        <p><strong>Publicly listed profiles</strong></p>
                                        <p class="text-left"> For most of us we don’t know who to call when we need
                                            something fixed or built so we usually go with whoever we can find, which
                                            means calling around and asking the same questions. With our transparent
                                            profile section you can easily browse the list of tradespeople in your area
                                            without having to do anything else.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-rating.png"
                                             alt="rating" style="height: 200px;">
                                        <p><strong>Ratings and reviews</strong></p>
                                        <p class="text-left"> Many small businesses rely on ratings and reviews to
                                            survive and it’s important to us to include this feature. Our service gives
                                            you the opportunity to let everyone else know what a great job was done for
                                            you.
                                            <br><br>
                                            To ensure that all reviews are legitimate, only the account holder can leave
                                            a review for the job they booked, that way you know we don’t have fake
                                            reviews leaving you dissatisfied.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-picture.png"
                                             alt="calendar" style="height: 200px;">
                                        <p><strong>Portfolio pictures</strong>
                                        </p>
                                        <p class="text-left"> Have you ever needed something like a fence but you don’t
                                            know what you want? Do you even know whether the tradie could build
                                            something you’ve seen before?
                                            <br>
                                            This is why we included a portfolio feature, so now you know.
                                            <br><br>
                                            With Jemma you have the opportunity to view examples of other people’s work
                                            to get ideas and you can also upload your own pictures so everyone can see
                                            what a good job they did, helping everyone.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="row mt-5 text-center">
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-calendar.png"
                                             alt="calendar" style="height: 200px;">
                                        <p><strong>Public calendar</strong></p>
                                        <p class="text-left"> How many people do you have to call just to get someone to
                                            fix something for you? Why do you need to call that many people?
                                            <br>
                                            Now you don’t.
                                            <br>
                                            With each tradesperson’s calendar available on their profile you can easily
                                            see who is available so you can easily fit it around your busy schedule.
                                            Combined with the ratings & reviews, portfolio, and profiles of the tradies,
                                            it all comes together to make your life easier and less stressful.
                                            <br><br>
                                            To ensure privacy for everyone you won’t be able to see who they’re working
                                            for (unless it’s you) however at least you won’t be ringing around anymore.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-remind.png"
                                             alt="calendar" style="height: 200px;">
                                        <p><strong>Lock in a date and time</strong></p>
                                        <p class="text-left">Have you ever had someone turn up to build something for
                                            you and leave halfway through making you wonder when it’s going to be
                                            finished?
                                            <br><br>
                                            Many people have, and that’s why we’ve implemented the calendar system. That
                                            way you know when they’ll arrive and leave, so you can relax. It’s time
                                            things changed so we no longer have to guess.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5" src="../../static/IMAGES/hiw-app.png"
                                             alt="calendar" style="height: 200px;">
                                        <p><strong>Simplified app experience</strong></p>
                                        <p class="text-left"> No-one likes complications. Our aim at Jemma is to provide
                                            an experience where anyone could tap a few buttons and get what they want.
                                            It works for a lot of other things we order online so why not tradies?
                                            <br><br>
                                            From browsing to find the right one, to booking and then confirming the job
                                            was done and paying for it, you can do it all through the website or app.
                                            If you or the tradesperson has any questions or changes our notifications
                                            and messaging system can handle the communications for you.
                                            <br><br>
                                            That way you can organise everything when you’re in that meeting while
                                            you’re supposed to be taking notes, and no-one will ever know!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row mt-5 text-center">
                                    <div class="col-md-4">
                                        <img class="mb-5"
                                             src="../../static/IMAGES/hiw-security.png"
                                             alt="calendar"
                                             style="height: 200px;">
                                        <p><strong>Financial security through escrow</strong></p>
                                        <p class="text-left">
                                            Let’s be honest, one major complaint we hear is not knowing that they can
                                            trust someone with their money, and renovations can be expensive.
                                            <br><br>
                                            Jemma provides an escrow style system where the agreed upon amount is
                                            deposited into a trust account held by us. Once the job is completed
                                            satisfactorily and you sign off through the service, the tradesperson gets
                                            their money. It’s that simple.
                                            <br>
                                            If they don’t turn up then we return your money, free of charge. No small
                                            print. That’s it.
                                            <br><br>
                                            I’m sure you’ve heard the horror stories, but they’re about to be tales from
                                            the past.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5"
                                             src="../../static/IMAGES/hiw-mid.png"
                                             alt="calendar"
                                             style="height: 200px;">
                                        <p><strong>Mediation if needed</strong></p>
                                        <p class="text-left">Sometimes we don’t all get along and as much as we try hard
                                            to ensure everyone has a great experience, unfortunately there will be the
                                            occasional problem or miscommunication.
                                            <br>
                                            We’re here to help with that. If this does arise we can intervene and
                                            mediate which removes the customer from any conflict.
                                            <br>
                                            We don’t want you to feel intimidated into paying for something you aren’t
                                            satisfied with so let us handle it for you.
                                            <br>
                                            We’re on no-one’s side, we just want everyone to be happy.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5"
                                             src="../../static/IMAGES/hiw-quote.png"
                                             alt="calendar"
                                             style="height: 200px;">
                                        <p><strong>Itemised quotes, invoices and more</strong></p>
                                        <p class="text-left"> Everyone needs receipts, even better if they list what you
                                            paid for each part of the service.
                                            When you book through Jemma you’ll get just that so your records are clean
                                            and you can access them again through your profile in case you forget who
                                            you hired last time or you deleted that email we sent you.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row mt-5 text-center">
                                    <div class="col-md-4">
                                        <img class="mb-5"
                                             src="../../static/IMAGES/hiw-consumer.png"
                                             alt="calendar"
                                             style="height: 200px;">
                                        <p><strong>Consumer rights</strong></p>
                                        <p class="text-left"> Our research indicates that a lot of customers do not know
                                            their consumer rights and that’s something we want to help fix.
                                            <br><br>
                                            By providing customers with access to their rights it gives you the
                                            confidence that the job will get done to the standard expected in Australia,
                                            because that’s what you deserve.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5"
                                             src="../../static/IMAGES/hiw-legal.png"
                                             alt="calendar"
                                             style="height: 200px;">
                                        <p><strong>No more legalese!</strong></p>
                                        <p class="text-left"> When was the last time you read one of those customer
                                            agreements? You know the ones, long, boring, and hard to understand.
                                            <br>
                                            You just want to sign up and start using the service, we get it.
                                            <br><br>
                                            This is why we give you the option of a simplified version that’s quick and
                                            easy to read but still informs you of the important stuff, just without the
                                            jargon.
                                            <br>
                                            If you’re a lawyer or just someone who needs something to read then that
                                            option is available too, your choice.
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <img class="mb-5"
                                             src="../../static/IMAGES/hiw-confidence.png"
                                             alt="calendar"
                                             style="height: 200px;">
                                        <p><strong>Confidence</strong></p>
                                        <p class="text-left"> It’s not easy these days to see how qualified tradespeople
                                            are so you know you’re getting the best person for the job. With Jemma you
                                            can see their licenses, qualifications such as Master Builders, etc.
                                            <br><br>
                                            This way you can be confident when perusing their profiles, knowing that
                                            we’ve verified all details for you.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true">
                            </span>
                            <span class="sr-only">Next</span>
                        </a>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true">
                            </span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true">
                            </span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="navbar-fixed-bottom"></div>

<script>
    $('.selectpicker').selectpicker();
</script>
</body>
</html>