<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Customer quote details</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.16/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.16/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.16/dist/js/i18n/defaults-*.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#top_menu").load("top_menu_sign_in");
            $("#side_menu").load("side_menu_customer");
            $("#footer").load("footer");

            function showDialog2() {
                alert('tes')
                $("#payment-amount").modal("hide");
                $("#payment-finish").modal("show").addClass("fade");
                alert('tes2')
            }

            $("#payment").on("click", function () {
                $('payment-amount').modal('hide');
            });
        });
    </script>
    <style>
        * {
            margin: 0;
        }

        html, body {
            height: 100%;
        }

        .custom-border {
            border-radius: 25px;
            border: 5px solid #bef680;
            padding: 20px;
        }

        .page-wrap {
            min-height: 100%;
            /* equal to footer height */
            margin-bottom: -130px;
        }

        .page-wrap:after {
            content: "";
            display: block;
        }

        #footer, .page-wrap:after {
            height: 130px;
        }
    </style>
</head>


<body>

<div id="top_menu"></div>

<div class="page-wrap">
    <div class="row bg-white">

        <div class="col-md-2" style="margin-left: 7%;">
            <div style="height: 10%"></div>
            <div id="side_menu" style="width: 100%"></div>
        </div>

        <div class="col-md-8" style="margin-left: 3%">
            <div id="profile_header" class="container align-items-center justify-content-center mb-3">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img class="rounded-circle"
                             id="profileImage"
                             src="{{ user.user_hp.url }}"
                             alt="user_profile_picture"
                             style="height: 120px;">
                    </div>

                    <div class="col-md-10 align-self-center">
                        <h4 class="text-left align-middle" align="left">Welcome, {{ fullname }}</h4>
                    </div>
                </div>
            </div>

            <div>
                <div class="quote-metadata custom-border mb-5">
                    <form class="form-horizontal">
                        <label>Quote ID: {{ current_quote.id }}</label>
                        <br>
                        <label>Tradie
                            Name:&nbsp;{{ current_quote.customer.first_name }} {{ current_quote.customer.last_name }}</label>
                        <br>
                        <label>Tradie Location: {{ current_quote.customer.suburb }}</label>
                        <br>
                        <label>Date: {{ current_quote.date }}</label>
                        <br>
                        <label>Status: {{ current_quote.status }}</label>
                        <br>
                        <label>Amount: $500</label>
                        <br>
                    </form>
                </div>
                <div class="quote-details">
                    <form class="form-horizontal">
                        <label>Quote Description:</label>
                        <br>
                        <p>{{ current_quote.description }}</p>
                        <br>
                        <label>Images/Videos</label>
                        {% for image in images %}
                            <div style="height: 300px; width: 300px ;overflow: hidden;">
                                <p>
                                    <img src="media/{{ image.image }}"
                                         style='height: 100%; width: 100%; object-fit: contain'>
                                </p>
                            </div>
                        {% endfor %}
                        <br>
                        <label>
                            Feedback:
                        </label>
                    </form>
                </div>
            </div>
            <div class="text-right mt-5">
                <div class="btn-group" role="group" aria-label="Quote group">
                    <button id="cancel-button" type="button" class="btn btn-secondary" onclick="window.history.back()">
                        Cancel
                    </button>
                    <button id="decline-button" type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#confirm-decline">
                        Decline
                    </button>
                    <button id="accept-button" type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#payment-amount">
                        Make a Payment
                    </button>
                </div>
            </div>
            <div class="modal fade" id="payment-amount">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Payment Details</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <!--form for entering payment amount-->
                            <input type="text" name="quote_id" form="quote_acceptance_form"
                                   value="{{ current_quote.id }}" style="display:none;"/>
                            <form method="post" action="accept_quote" id="quote_acceptance_form">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        Please check order details:
                                                    </h5>
                                                    <div class="col-xs-3 col-md-12">
                                                        <div class="form-group">
                                                            <label>
                                                                Tradie Name:
                                                            </label>
                                                            <br>
                                                            <label>
                                                                Date & Time:
                                                            </label>
                                                            <br>
                                                            <label>
                                                                Amount:
                                                            </label>
                                                            <br>
                                                            <div class="form-group">
                                                                <label for="Amount">Confirm Amount $</label>
                                                                <input name="Amount" id="Amount"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="payment" type="button" class="btn btn-success btn-lg btn-block"
                                                    data-toggle="modal" data-target="#payment-finish">
                                                Pay Now   <span class="glyphicon glyphicon-chevron-right"></span>
                                            </button>
                                            </td>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirm-decline">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <input type="text" name="quote_id" form="decline_form" value="{{ current_quote.id }}" style="display:none;"/>
                        <form action="customer_decline_quote" method="POST" id="decline_form">
                            {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title">Confirm Decline</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="form-group modal-body">
                            <label for="comment">Dear Customer, we were wondering if you would like to say why you want
                                to decline this order :)</label>
                            <textarea class="form-control" rows="5" id="comment" name="decline_reason"></textarea>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <button type="submit" class="btn btn-danger float-right">Confirm Decline</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="payment-finish">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h3 class="modal-title">Finish Payment</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <!--form for entering payment amount-->
                            <input type="text" name="quote_id" form="quote_acceptance_form"
                                   value="{{ current_quote.id }}" style="display:none;"/>
                            <form method="post" action="accept_quote" id="quote_acceptance_form">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12">
                                            <br>
                                            <br>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        Have you finished the payment?
                                                    </h4>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <div class="text-right mt-5">
                                                <button type="button" class="btn btn-secondary"
                                                        onclick="window.history.back()">
                                                    Not yet
                                                </button>
                                                <button type="button" class="btn btn-success"
                                                        onclick="window.location.href='customer_finish_payment?quote_id={{ current_quote.id }}'">
                                                    Finished
                                                </button>
                                            </div>
                                            </td>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>
<script>
    function disableButton(btn) {
        document.getElementById(btn.id).disabled = true;
    }
</script>
</body>
</html>