<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/CSS/search_result_details.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <div class="row search-result-title">
        <div class="col-sm-2">
            <img src="../../static/IMAGES/tradie1.jpg" alt="user picture">
            <p style="color: lightgrey; text-align: center;">Online 6 hours ago</p>
        </div>
        <div class="col-sm-8">
            <h3>James</h3>
            <p>Turner, ACT</p>
            <p>Joined since 2019</p>
            <p>License No: ABC0000001</p>
            <p><b>50 Reviews</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3/5</p>
        </div>
        <div class="col-sm-2 quote-section">
            <button type="button" class="btn">Get a quote</button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#about">ABOUT ME</a></li>
        <li><a data-toggle="tab" href="#reviews">REVIEWS</a></li>
        <li><a data-toggle="tab" href="#services">SERVICES</a></li>
        <li><a data-toggle="tab" href="#calendar">CALENDAR</a></li>
    </ul>

    <div class="tab-content">
        <br>
        <div id="reviews" class="tab-pane fade">

            <div class="panel panel-default">
                <h5>&nbsp&nbsp&nbsp&nbsp Sean 3/5</h5>
                <p>&nbsp&nbsp Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.</p>
            </div>

            <div class="panel panel-default">
                <h5>&nbsp&nbsp&nbsp&nbsp Michael 3/5</h5>
                <p>&nbsp&nbsp Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.</p>
            </div>

            <div class="panel panel-default">
                <h5>&nbsp&nbsp&nbsp&nbsp Andrew 3/5</h5>
                <p>&nbsp&nbsp Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.</p>
            </div>

        </div>

        <div id="about" class="tab-pane fade in active">
            <p>&nbsp&nbsp Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</p>
            <p>&nbsp&nbsp Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</p>
            <p>&nbsp&nbsp Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</p>
            <p>&nbsp&nbsp Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</p>
            <p>&nbsp&nbsp Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</p>

        </div>
        <div id="services" class="tab-pane fade">

        </div>
        <div id="calendar" class="tab-pane fade">
        </div>
    </div>
</div>

</body>
</html>
