body {
    background-color: #fff;
}

.search-result-title {
    display: flex;
    padding-top: 15px;
}

.search-result-title img {
    width: 150px;
}

.search-result-title .quote-section {
    position: absolute;
    top: 185px;
    right:5px;
}

.search-result-title .btn {
    background-color: #bded8e;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}
