<!DOCTYPE html>
<html lang="en">
<head>
  <title>About us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .container {
    padding: 80px 120px;
  }
  </style>

    <script type="text/javascript">
        $(document).ready(function () {
        $("#top_menu").load("../SubTemplate/top_menu_sign_in.html");
        $("#footer").load("../SubTemplate/footer.html");
    });


</script>
</head>
<body>

    <div id="top_menu"></div>


    <div class="row-fluid container text-center">
      <h3>Contract us</h3>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <img src="../static/IMAGES/contract_us2"  width="300" height="255">
            <br>
            <br>
            <p><strong>Help & Support Service</strong></p>
            <br>
                <p>Email Support: support@gmail.com</p>
                <p>If you get any queries of our system, or if you have any questions to be clarified about Jemma, please use the email to contact our support team.</p>
        </div>
        <div class="col-sm-4">
          <img src="../static/IMAGES/contract_us3"  width="300" height="255">
            <br>
            <br>
            <p><strong>Live Phone Answering Services</strong></p>
            <br>
            <p>Customer Service: (02)6296 2113</p>
            <p>Login Support: (02)6296 2111</p>
            <p>Working Hours:</p>
            <p style="text-align: right">Sunday  Holiday</p>
            <p style="text-align: right">Monday  9am-5pm</p>
            <p style="text-align: right">Tuesday  9am-5pm</p>
            <p style="text-align: right">Wednesday  9am-5pm</p>
            <p style="text-align: right">Thursday  9am-5pm</p>
            <p style="text-align: right">Friday  9am-5pm</p>
            <p style="text-align: right">Saturday  9am-5pm</p>
        </div>
        <div class="col-sm-4">
          <img src="../static/IMAGES/contract_us1"  width="300" height="255">
            <br>
            <br>
            <p><strong>Come to us directly</strong></p>
            <br>
            <p>Address: Canberra National Office, Level 1, Petrie St, Civic ACT 2601, Australia</p>
        </div>
      </div>
    </div>

    <div class="row-fluid col-xs-12 col-md-12 col-lg-12" id="footer"></div>

</body>
</html>
